@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "afacad";
  src: url('./assets/Afacad-VariableFont_wght.ttf');
  font-display: block;
}

@layer{
    *{
      @apply box-border m-0 p-0 font-[afacad]  antialiased
    }
    html{
      @apply flex flex-col align-middle justify-center
      /* bg-neutral-800 */
       bg-gradient-to-l from-neutral-800 to-stone-900 
    }
    html::-webkit-scrollbar{
      display: none;
    }
}